@inherits LayoutComponentBase

<PageTitle>ShareBuilders in Blazor (SignalR)</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />     @*//'NavMenu.razor' navigation menu component*@
    </div>

    <main>
        <div class="top-row px-4">
            This is a 'div' below the 'main' tag
        </div>

        <article class="content px-4">
            @Body   @*//Output of page selection *@
        </article>
    </main>
</div>
