@inherits LayoutComponentBase

<PageTitle>ShareBuilders in Blazor (SignalR)</PageTitle>

<MudThemeProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />     @*//'NavMenu.razor' navigation menu component*@
    </div>

    <main>
        <div class="top-row px-4">
            <h2>...Share-Builders Project</h2>
        </div>

        <article class="content px-4">
            @Body   @*//Output of page selection *@
        </article>
    </main>
</div>
