@page "/CreateTheCategoryPage"

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title User</h3>

    <div class="col-10">
        <EditForm Model="User">
            <div class="form-group">
                <Label>First Name</Label>
                <input class="form-control" type="text" @bind-value="User.FirstName" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary py-2">@Title User</button>
                <NavLink href="CategoryListPage" class="btn btn-secondary">Back to Index</NavLink>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private UserDTO User { get; set; } = new UserDTO();
    private string Title { get; set; } = "Create";
}
