@page "/CategoryListPage"

@*//Multi selection for later
@using System.Linq; 
@using Blazor.MultiSelect; *@

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="CreateTheCategoryPage" class="btn btn-primary form-control">Add New Category </a>
    </div>
</div>

@code {

}

@*//Multi selection for later
  //'selectedItems' is a list of the selected items
<MultiSelect TItem="string" SelectionMode="Multiple" @bind-SelectedItems="@selectedItems"> 
    @foreach (var item in Enumerable.Range(1, 10)) 
    { 
        <MultiSelectItem TItem="string"> @item </MultiSelectItem> 
    } 
</MultiSelect> *@