@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<input type="number" @bind=@currentCount />
<button class="btn btn-primary" @onclick=IncrementCount>Click me</button>

<br /><br />

<p>Text input on enter: @textInput</p>
<input type="text" @bind=@textInput />

<br /><br />

<p>Text input on live input: @textLive</p>
<input type="text" @oninput=OnChangeTextInput/>

@code {
    private int currentCount = 0;
    private string textInput;
    private string textLive;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void OnChangeTextInput(ChangeEventArgs e)
    {
        textLive = e.Value.ToString();

        Console.WriteLine($"textLive: {e.Value.ToString()}");
    }
}
