@page "/"

<PageTitle>Share-Builders Project</PageTitle>

<h6>Written in C# using ASP.NET Core 6 and the Blazor framework with MudBlazor UI, using SignalR to connect to an MSSQL database via Entity Framework Core.</h6>

<br />

<h6>User Creation</h6>
<dl>
  <dd>- Add new user to SQL database</dd>
  <dd>- Correlate one or more stations with user via composite table</dd>
</dl>

<br />

<h6>User Edit</h6>
<dl>
  <dd>- Update or delete existing user</dd>
  <dd>- Edit station correlation to user</dd>
  <dd>- User selection by table with search</dd>
</dl>

<br />

<h6>Station Creation</h6>
<dl>
  <dd>- Add new station to SQL database</dd>
  <dd>- Correlate with station one or more markets, affiliates, and broadcast types via composite tables</dd>
</dl>

<br />

<h6>Station Edit</h6>
<dl>
  <dd>- Update or delete existing station</dd>
  <dd>- Edit station correlations between markets, affiliates, and broadcast types</dd>
  <dd>- Station selection by table with search</dd>
</dl>